<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title class="ion-text-center"><i>Bienvenido a la página principal de JKC eventos y decoraciones</i></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-row>  
    <ion-col>
      <ion-card color="primary">
        <ion-card-header>
          <ion-card-title class="ion-text-center" color="danger">
            <h1>Presentación</h1>
          </ion-card-title>
          <ion-card-subtitle class="ion-text-center">
            <h2>Fecha del evento</h2>
          </ion-card-subtitle>
      </ion-card-header>

        <ion-card-content class="ion-text-center">
          Precio: $150
          descuento para clientes frecuentes: 10%
        </ion-card-content>
        <ion-img src="assets/img/LOGO1.png" class="LogoEMP2"></ion-img>
        <!-- Botón -->
          <ion-button fill="clear">Añadir al carrito</ion-button>
          <ion-button fill="clear">Descartar</ion-button>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <div class="row">
        
        <div class="text">
          <ion-card-header>
            <ion-card-title class="ion-text-center" color="danger">
              <h1>Presentación</h1>
            </ion-card-title>
            <ion-card-subtitle class="ion-text-center">
              <h2>Fecha del evento</h2>
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="ion-text-center">
            Esta imagen representa el esfuerzo de dos personas que coincidieron en la vida.
          </ion-card-content>
        </div>

        <div class="image">
          <ion-img src="assets/img/Upse.png" class="LogoU"></ion-img>
        </div>

      </div>
      </ion-card>
    </ion-col>
  </ion-row>

  <ion-row>  
    <ion-col>
      <ion-card class="estilosAP">
        <ion-card-header>
          <ion-card-title class="ion-text-center" color="danger">
            <h1>Presentación</h1>
          </ion-card-title>
          <ion-card-subtitle class="ion-text-center">
            <h2>Fecha del evento</h2>
          </ion-card-subtitle>
      </ion-card-header>

        <ion-card-content class="ion-text-center">
          Precio: $150
          descuento para clientes frecuentes: 10%
        </ion-card-content>
        <ion-img src="assets/img/facsistel.png" class="facu"></ion-img>
        <!-- Botón -->
        <ion-button expand="block" color="primary" style="margin-top: 15px;">
        Comprar
        </ion-button>
      </ion-card>
    </ion-col>
    <ion-col>
      <ion-card>
        <div class="row">
        
        <div class="text">
          <ion-card-header>
            <ion-card-title class="ion-text-center" color="danger">
              <h1>Presentación</h1>
            </ion-card-title>
            <ion-card-subtitle class="ion-text-center">
              <h2>Fecha del evento</h2>
            </ion-card-subtitle>
          </ion-card-header>

          <ion-card-content class="ion-text-center">
            Esta imagen representa el esfuerzo de dos personas que coincidieron en la vida.
          </ion-card-content>
        </div>

        <div class="image">
          <ion-img src="assets/img/electronica.gif" class="electronicagif"></ion-img>
        </div>

      </div>
        <!-- Botón -->
        <ion-button expand="block" color="primary" style="margin-top: 15px;" shape="round">
        Comprar
        </ion-button>
      </ion-card>
    </ion-col>
  </ion-row>

<ion-card class="especial">
  <ion-card-header>
    <ion-card-title>Card Title</ion-card-title>
    <ion-card-subtitle>Card Subtitle</ion-card-subtitle>
  </ion-card-header>
  <ion-card-content>
    <ion-list>
      <ion-item>
        <ion-thumbnail slot="start">
          <img src="assets/img/tec.gif" />
        </ion-thumbnail>
        <ion-label>Item</ion-label>
      </ion-item>

      <ion-item lines="none">
        <ion-thumbnail slot="start">
          <img src="assets/img/tec.gif" />
        </ion-thumbnail>
        <ion-label>Item</ion-label>
      </ion-item>
    </ion-list>
  </ion-card-content>
</ion-card>

</ion-content>
 