<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title expand="ion-text-center">
      Bienvenido a la página principal de JKC eventos y decoraciones
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-grid>  
  <ion-row class="ion-text-center">
    <ion-col class="ion-text-center">

    <ion-text color="danger">
    <h1>Bienvenido</h1>
    </ion-text> 
    <ion-img src="assets/img/LOGO1.png" class="LogoEMP"></ion-img> 
    </ion-col>
  </ion-row>


  <ion-row>
    <ion-col class="ion-text-center">
      <ion-text color="tertiary">
      <h3>Desarrollo web en UPSE</h3>
      </ion-text>
      <ion-img src="assets/img/FAC.jpg" class="LogoFAC"></ion-img>
    </ion-col>

    <ion-col class="ion-text-center">
      <ion-text color="tertiary">
      <h3>Articulos varios</h3>
      </ion-text>
    </ion-col>
  </ion-row>

  <ion-row>
    <ion-col>
      
    <p>
    <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text>
    Vi a un estudiante con un termo y una mochila en la mano. Caminando por los
    <ion-text color="success"><sub>pasillos</sub></ion-text> de la facultad bajo el sol. Él
    <ion-text color="medium"><i>estaba</i></ion-text> buscando el aula del profesor "el que pone 1.5". Queriendo aprobar la
    <ion-text color="danger">última materia del pénsum.</ion-text>
    </p>


    </ion-col>

    <ion-col>
    <p>
    <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text>
    Separe su turno con tiempo para evitar 
    <ion-text color="success"><sub>aglomeraciones</sub></ion-text> en el local. Él
    <ion-text color="medium"><i>estaba</i></ion-text> buscando el aula del profesor "el que pone 1.5". Queriendo aprobar la
    <ion-text color="danger">última materia del pénsum.</ion-text>
    </p>
    </ion-col>

    <ion-col>
    <p>
  <ion-text color="warning"><ion-icon name="warning"></ion-icon></ion-text>
  Confirme su reservación con antelación para asegurar
  <ion-text color="success"><sub>disponibilidad</sub></ion-text> de la fecha y el *venue*. La competencia
  <ion-text color="medium"><i>está</i></ion-text> buscando el proveedor que ofrece el costo más bajo. Queriendo concretar el
  <ion-text color="danger">contrato antes que la competencia.</ion-text>
  </p>
    </ion-col>

  </ion-row>

  </ion-grid>

  </ion-content>